extends ../layout

block content
    h2.mb-4 Eliminar Repartidor

    a.btn.btn-secondary.mb-3.ms-2(href="/riders") ← Volver al menú
    
    if rider
        hr
        h4 ¿Estás seguro de que quieres eliminar a este repartidor?
        
        table.table.table-striped.table-hover
            thead.table-dark
                tr
                    th ID
                    th Nombre
                    th DNI
                    th Teléfono
            tbody
                tr
                    td= rider.riderId
                    td= rider.name
                    td= rider.dni
                    td= rider.phone
        
        form(action=`/riders/delete/${rider._id}?_method=DELETE`, method="POST", style="display:inline")
            button.btn.btn-danger(type="submit") Sí, eliminar
            a.btn.btn-secondary.ms-2(href="/riders/list") Cancelar

    else if error
        p.text-danger.mt-4 #{error}
    
    else
        p.text-warning.mt-2 No se especificó o no se encontró el repartidor a eliminar.