extends ../layout

block content
  h2.mb-4 Listado de Repartidores
  
  a.btn.btn-secondary.mb-3.ms-2(href="/riders") ← Volver al menú

  if riders && riders.length
    table.table.table-striped.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre
          th DNI
          th Email
          th Teléfono
          th Vehículo
          th Patente
          th Estado
          if query.action !== 'edit' && query.action !== 'delete'
            th Acciones
          else if query.action === 'edit'
            th Seleccionar para Editar
          else if query.action === 'delete'
            th Seleccionar para Eliminar
      tbody
        each rider in riders
          tr
            td= rider._id
            if query.action === 'edit'
              td 
                a(href=`/riders/update/${rider._id}`)= rider.name
            else
              td= rider.name
              td= rider.dni
              td= rider.email
              td= rider.phone
              td= rider.vehicle
              td= rider.patente
              td= rider.state
            if query.action !== 'edit' && query.action !== 'delete'
              td
                a.btn.btn-sm.btn(style="background-color:#343a40; color:white; border:none;", href=`/riders/update/${rider._id}`) ✏️
                form(action=`/riders/delete/${rider._id}?_method=DELETE`, method="POST", style="display:inline")
                  button(type="submit", class="btn btn-sm btn-danger ms-2") 🗑️
            else if query.action === 'edit'
                td
                  a.btn.btn-sm.btn-primary(href=`/riders/update/${rider._id}`) Editar este repartidor
            else if query.action === 'delete'
                td
                  a.btn.btn-sm.btn-danger(href=`/riders/delete/${rider._id}`) Eliminar este repartidor
  else
    p.text-muted No hay repartidores registrados aún.