extends ../layout 

block content
    h2.mb-4 Editar Cliente 

    a.btn.btn-secondary.mb-3.ms-2(href="/customers") ← Volver al menú

    form(method="get" action="/customers/update")
      .mb-3.d-flex.flex-column
        label.form-label(for="id") Ingresa el ID del cliente a editar
        input.form-control(type="number", name="id", id="id", required value=id)

        button.btn.btn-primary.mt-3.w-50.mx-auto(type="submit") Buscar
    
    // Formulario de edición, solo si customer está definido
    if customer
        hr
        form(method="post" action=`/customers/update/${customer.id}`)
            .mb-3
                label.form-label(for="name") Nombre
                input.form-control(type="text", name="name", id="name", value=customer.name required)
            .mb-3
                label.form-label(for="dni") DNI
                input.form-control(type="number", name="dni", id="dni", value=customer.dni readonly)
            .mb-3
                label.form-label(for="phone") Teléfono
                input.form-control(type="text", name="phone", id="phone", value=customer.phone required)
            .mb-3
                label.form-label(for="address") Dirección
                input.form-control(type="text", name="address", id="address", value=customer.address required)

            button.btn.btn-success(type="submit") Guardar cambios
            a.btn.btn-secondary.ms-2(href="/customers") Cancelar

    // Mensaje de error si no se encuentra el cliente
    if error
      p.text-danger.mt-2 #{error}